# __pycache__ 폴더 무시
__pycache__/

/database/pgdata/

# .pickle 확장자를 가진 모든 파일 무시
*.pickle


#기타 파일 무시
*.csv
*.txt
*.png
*.jpeg
*.svg
*.pt
#image dir 무시
images/

#faiss dir 무시
faiss/

#test 파일 무시
test*.py

#.env파일 무시
.env


# readme_images 폴더 예외 처리
!readme_images/
!readme_images/*.png
!readme_images/*.jpeg
!readme_images/*.svg
